/* *{
    border: 2px solid red;
} */
body{
    margin: 0px;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    overflow: scroll;
    font-family: sans-serif;
    overflow: scroll;
}
.header{
    grid-column: 2 / 3;
    height: calc(100px + 10vh);
    display: flex;
    flex-direction: column;
}
.header div{
    flex: 1;
}
.top-header{
    display: grid;
    grid-template-columns: 5fr 0.7fr 3fr;
}
.bottom-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.sidebar{
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0.8fr 2.5fr 2fr 5fr;
    gap: 10px;
    background-color: #3b82f6;
    color: white;
}
.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px;
    padding: 20px;
    background-color: #e5e7eb;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 20px;
    padding: 20px;
}
.project-title{
    display: flex;
    align-items: center;
    padding-left: calc(20px + 1vw);
}
.project-container{
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows:0.5fr 12fr ;
}
.announce-title,.trend-title{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
}
.announce,.trend-items{
    flex: 6;
    background-color: white;
    border-radius: 10px;
    padding: calc(10px + 1vw);
}
.announce div{
    padding-bottom: calc(5px + 1vh);
}
.profile-bar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 4px;
}
.search-bar{
    display: grid;
    grid-template-columns: 0.8fr 1fr 5fr;
}
.search-box{
    display: flex;
    align-items: center;
}
.cards{
    background-color: white;
    height: calc(100px + 10vw);
    box-shadow: inset 0.5rem 0rem gold;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
}
.card-content{
    flex: 3;
    display: flex;
    font-size: calc(7px + 0.8vw);
    text-align: justify;
    color: darkslategray;
}
.card-title{
    /* flex: 1; */
    display: flex;
    font-size: calc(10px + 1vw);
    font-weight: bolder;
    /* padding: 20px 0px; */
}
.card-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px 10px;
}
.card-buttons img{
    height: calc(10px + 1vw);
}
.acc-profile{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
}
.greet,.username{
    padding-left: 10px;
}
.profile-pic-bottom,.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-pic-bottom img{
    height: calc(40px + 2vw);
}
.profile-pic-bottom img:hover{
    transform: scale(1.1);
}
.profile-pic img{
    height: calc(30px + 2vw);
}
.profile-pic img:hover{
    transform: scale(1.1);
}
.acc-info{
    margin-top: auto;
    margin-bottom: auto;
}
.button-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.button-group button{
    background-color: #3b82f6;
    height: calc(6px + 3vh);
    width: calc(20px + 5vw);
    color: white;
    border-radius: 9999px;
    border-width: 0px;
    font-size: calc(5px + 0.8vw);
    font-weight: 900;
}
.username,.greet{
    display: flex;
    align-items: center;
}
.alert{
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert img:hover{
    transform: scale(1.1);
}
.alert img{
    height: calc(20px + 2vw);
}
.greet{
    font-weight: bold;
    font-size: calc(3px + 1vw);
}
.username{
    font-size: calc(10px + 2vw);
    font-weight: bolder;
}
.profile-bar #top-uname{
    font-size: calc(1px + 1.5vw);
}
.sidebar div{
    padding-left: 15px;
}
.dashboard{
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vw);
    gap: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.search-box input{
    width: 95%;
    border-radius: 9999px;
    height: 30%;
    border: 0px;
    box-shadow: none;
    background-color: #e5e7eb;
    border-color: white;
    padding-left: 3%;
    font-size: calc(7px + 1vw);
}
.search-box input:focus{
    background-color: white;
}
.project-title,.announce-title,.trend-title{
    font-size: calc(10px + 1vw);
    font-weight: 600;
}
.sidebar .nav .nav-items{
    display: flex;
    align-items: center;
    gap:10px;
    /* padding-left: 0px; */
    font-size: calc(5px + 1vw);
    font-weight: bold;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}
.search-icon:hover{
    background-color: rgb(212, 207, 207,0.2);
}
.menu-icon{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}
.menu-icon img{
    height: calc(10px + 1vh);
}
.search-icon img{
    height: calc(15px + 2vw);
}
.controls{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.control-items{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 0px;
    font-size: calc(5px + 1vw);
    font-weight: bold;
}
.control-items img,.nav-items img{
    height: calc(10px + 2vw);
}
.dashboard img{
    height: calc(25px + 2vw);
}
.title-ann{
    font-size: calc(10px + 1vw);
    font-weight: bold;
}
.content-ann{
    font-size: calc(7px + 0.7vw);
    color: darkslategray;
    border-bottom: solid lightgrey 2px;
    text-align: justify;
    
}
.trending-user{
    display: flex;
    gap: calc(5px + 1vw);
    padding: 10px;
}
.profile-pic-trending img{
    border-radius: 9999px;
    height: calc(20px + 2vh);
}
.user-name-trending{
    font-weight: bold;
    font-size: calc(10px + 0.7vw);
}
.about-trending{
    color: darkslategray;
    font-size: calc(7px + 0.7vw);
}
.user-trending{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cards:hover{
    box-shadow: 5px 5px 5px grey;
    transform: scale(1.01);
}
button:hover{
    transform: scale(1.1);
}
.card-buttons img:hover{
    border-radius: 9999px;
    background-color: rgb(211, 211, 211,0.5);
}
.trending-user:hover{
    background-color: rgb(211, 211, 211,0.5);
    border-radius: 5px;
}

@media only screen and (max-width:795px){
    .sidebar{
        display: none;
    }
    .container{
        display: block;
    }
    .menu-icon{
        visibility: visible;
    }
}
@media only screen and (max-width:570px){

    .main{
        display: flex;
        flex-direction: column;
    }
    .announcements{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .trends{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .projects{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .project-title,.announce-title,.trend-title{
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
    .cards{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .project-title{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
